/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */

/*
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/

.container {
  max-width: 80vw;
  background: url("assets/img/grid.png");
  border: 1px solid #000;
  margin: 20px auto;
}

header.primary {
  /* 920 px */
  width:96.23%;
  background: grey;
  /* 20 px */
  margin: 2.092%;
  padding: 2.1834%;
  float: left;
}

#content {
  width: 48.9082%;
  background: grey;
  margin-left: 2.092%;
  padding: 2.1834%;
  float: left;
}

aside {
  width: 46.9082%;
  background: grey;
  margin-left: 2.092%;
  padding: 2.1834%;
  float: left;
}

footer.primary {
  /* 920 px */
  width:96.23%;
  background: grey;
  /* 20 px */
  margin: 2.092%;
  padding: 2.1834%;
  float: left;
}

.col-4 {
  width: 356px;
  background: green;
  margin-left: 20px;
  padding: 2.1834%;
  float: left;
}

.col-6 {
  width: 544px;
  background: purple;
  margin-left: 20px;
  padding: 20px;
  float: left;
}

.col-12 {
  width: 920px;
  background: rgba(0, 0, 0, 0.4);
  margin: 20px;
  padding: 20px;
  float: left;
}
